.title{ 
    margin-bottom: 10px; 
    text-align:center; 
    color:rgb(0, 0, 0); 
    border-bottom:solid rgb(0, 0, 0) 5px;
    font-size: x-large; 
    padding-top: 15px;
    height: 40px;
    } 

input[type="button"] 
    { 
    background-color:rgb(96, 97, 96); 
    color: rgb(192, 192, 192); 
    border: solid black 2px; 
    border-radius: 7px;
    border-style: none;
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    } 

input[type="text"] 
    { 
    background-color:rgb(36, 36, 36); 
    border: solid black 2px; 
    width: 150px;
    height: 50px;
    border-radius: 5px;
    text-align: right;
    font-size: 30px;
    border-style: none;
    color: white;
    } 

.container{
    width: 500px;
    height: 700px;
    background-color: aquamarine;
    justify-content: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    height: 500px;
}
.calculator{
    height: max-content;
    width: max-content;
    background-color: rgba(255, 255, 255, 0.726);
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
}
table{
    margin: 10px;
    padding: 10px;
}

#clear{
    background-color: tomato;
}
#clear:hover{
    background-color: red;
}