*{
    margin: 0;
    padding: 0;
    height: 100%;
   
}
.title{ 
    margin-bottom: 10px; 
    text-align:center; 
    color:rgb(0, 0, 0); 
    border-bottom:solid rgb(0, 0, 0) 5px;
    font-size: x-large; 
    padding-top: 15px;
    height: 40px;
    font-family: fantasy;
    } 

input[type="button"] 
    { 
    background-color:rgb(131, 129, 129); 
    color: rgb(219, 219, 219); 
    border: solid black 2px; 
    border-radius: 7px;
    border-style: none;
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    } 

input[type="text"] 
    { 
    background-color:rgb(36, 36, 36); 
    border: solid black 2px; 
    width: 150px;
    height: 50px;
    border-radius: 5px;
    text-align: right;
    font-size: 30px;
    border-style: none;
    color: white;
    } 

.container{
    width: 400px;
    background-image: linear-gradient(to right,rgba(41, 41, 41, 0.548),rgba(204, 204, 204, 0.514));
    justify-content: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    height: 500px;
    border-radius: 10px;
}
.calculator{
    height: max-content;
    width: max-content;
    background-color: rgba(255, 255, 255, 0.726);
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    border-radius: 7px;
}
table{
    margin: 10px;
    padding: 10px;
}

#clear{
    background-color: rgb(210, 30, 30);
}
#clear:hover{
    background-color: rgb(170, 26, 26) ;
}
#equal{
    background-color: rgb(210, 30, 30);
}
#equal:hover{
    background-color:rgb(170, 26, 26) ;
}
#divide{
    background-color: rgb(255, 123, 0);
}
#divide:hover{
    background-color: rgb(201, 98, 2);
}
#subtract{
    background-color: rgb(255, 123, 0);
}
#subtract:hover{
    background-color: rgb(201, 98, 2);
}
#add{
    background-color: rgb(255, 123, 0);
}
#add:hover{
    background-color: rgb(201, 98, 2);
}
#multiply{
    background-color: rgb(255, 123, 0);
}
#multiply:hover{
    background-color: rgb(201, 98, 2);
}

#number:hover{
   background-color: rgb(77, 76, 76);
}
